* {
  font-family: var(--ff-montserrat);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
:root {
  /**
   * colors
   */
  --pink: #EF8B8B !important;
  --blue: #3FA3CE !important;
  --blue-ncs: hsl(197, 100%, 36%);
  --white: #fff;
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);
  --bg-color1: #E6E6FA;
  --bg-color2: #e4e4ee;

  /**
   * typography
   */

  --ff-museomoderno: "MuseoModerno", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-6: 13px;


  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * border-radius
   */

  --radius-25: 25px;
}
a{
  text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  background-color: var(--bg-color1) !important;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: var(--white);
}
html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid var(--white);
  color: var(--white);
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  background: var(--pink);
  color: var(--white);
  font-weight: bolder;
}

.heading {
  font-family: var(--ff-museomoderno);
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: var(--blue);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 5%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header.active {
  background: #d6d6fa;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: bolder;
  margin-top: -10px;
  z-index: 100000;
}
.header .logo img {
  width: 70px;
}
.header .logo h1 {
  font-family: var(--ff-museomoderno);
  position: relative;
  display: inline-block;
  font-size: 2rem;
  top: 0px;
  left: 0px;
}
.header .logo h1 span {
  color: var(--pink);
}
.header .navbar {
  justify-content: space-around;
}
.header .navbar a {
  margin-left: 4rem;
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
.header .navbar a:hover {
  color: var(--blue);
}
.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}
.header .icons a:hover,
.header .icons div:hover {
  color: var(--pink);
}
.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}
.search-form.active {
  transform: translateY(0%);
}
.search-form #close-search {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  cursor: pointer;
  color: var(--white);
  font-size: 6rem;
}
.search-form #close-search:hover {
  color: var(--pink);
}
.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid var(--white);
  display: flex;
  align-items: center;
}
.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: var(--white);
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.search-form form input::-moz-placeholder {
  color: #aaa;
}
.search-form form input::placeholder {
  color: #aaa;
}
.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: var(--white);
}
.search-form form label:hover {
  color: var(--pink);
}

.home {
  padding: 0;
}
.home .box {
  min-height: 90vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.home .box.second {
  justify-content: flex-start;
}
.home .box .content {
  width: 100rem;
}
.home .box .content span {
  font-size: 3rem;
  color: var(--blue);
  line-height: 10rem;
}
.home .box .content h3 {
  font-size: 6rem;
  font-family: var(--ff-museomoderno);
  color: var(--pink);
  text-transform: uppercase;
  margin-top: -4rem;
}
.home .box .content p {
  line-height: 2;
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem 0;
  text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.5);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #10221b;
}

.category {
  background-color: var(--bg-color2);
}
.category span {
  color: var(--pink);
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.category .box-container .box {
  text-align: center;
  padding: 1rem;
}
.category .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.category .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}
.category .box-container .box p, .category p{
  font-size: 1.5rem;
  color: #10221b;
  line-height: 2;
}

.gallery {
  /* margin-bottom: 100px; */
  position: relative;
  background: var(--bg-color2);
  /* top: 10rem; */
}
.gallery .container .nav-link {
  color: #60B6F4;
  border: 0;
  transition: 0.25s;
  font-size: 1.5rem;
  justify-content: center;
  font-weight: 400;
}
.gallery .container .nav-link:hover, .gallery .container .nav-link.active {
  color: #137ECB;
  font-weight: 600;
}
.gallery .container .nav-link::after {
  content: "";
  display: block;
  padding-top: 8px;
  border-bottom: 2.5px solid #137ECB !important;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.gallery .container .nav-link.active::after {
  transform: scaleX(1.5);
}
.gallery .tab-content .left-img, .gallery .tab-content .top-right-img, .gallery .tab-content .bottom-left-img {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.gallery .tab-content .left-img img, .gallery .tab-content .top-right-img img, .gallery .tab-content .bottom-left-img img {
  transition: transform 0.5s ease;
}
.gallery .tab-content .left-img:hover img, .gallery .tab-content .top-right-img:hover img, .gallery .tab-content .bottom-left-img:hover img {
  transform: scale(1.08);
}
.gallery .tab-content .bottom-right-img {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.gallery .tab-content .bottom-right-img .see-more {
  position: absolute;
  color: white;
  left: 50%;
  margin-left: -2.39em;
  top: 50%;
  margin-top: -1.45em;
  z-index: 1;
}
.gallery .tab-content .bottom-right-img img, .gallery .tab-content .bottom-right-img .see-more {
  transition: transform 0.5s ease;
}
.gallery .tab-content .bottom-right-img:hover img, .gallery .tab-content .bottom-right-img:hover .see-more {
  transform: scale(1.08);
}
.gallery .tab-content img {
  display: inline-flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about {
  background: var(--bg-color1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .images {
  flex: 1 1 42rem;
}
.about .images img {
  width: 100%;
  box-shadow: 4rem 4rem 0 rgba(0, 0, 0, 0.1);
}
.about .content {
  flex: 1 1 42rem;
}
.about .content h3 {
  font-size: 3rem;
  color: var(--blue);
}
.about .content h3 span {
  color: var(--pink);
}
.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.shop .slide {
  border: 0.2rem solid var(--white);
}
.shop .slide:hover .image .icons {
  transform: translateY(0);
}
.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 20rem;
  width: 50rem;
}
.shop .slide .image img {
  /* height: 100%; */
  width: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  transform: translateY(7rem);
}
.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: var(--white);
  margin: 0 0.2rem;
}
.shop .slide .image .icons a:hover {
  background: var(--pink);
}
.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}
.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.shop .slide .content .price {
  padding: 1rem 0;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: var(--pink);
}
.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: #10221b;
}

.packages {
  background: var(--bg-color1);
}
.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.packages .box-container .box .btn i{
  color: white;
}
.packages .box-container .box {
  text-align: center;
  background: var(--white);
  border: 0.2rem solid var(--white);
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.packages .box-container .box:hover {
  background: #10221b;
}
.packages .box-container .box:hover .content > * {
  color: var(--white);
}
.packages .box-container .box:hover .btn {
  border-color: var(--white);
}

.packages .box-container .box:hover .btn:hover,
.packages .box-container .box:hover .btn:hover i{
  background: var(--white);
  color: #10221b;
}
.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.packages .box-container .box .content {
  padding: 2rem;
}
.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
.packages .box-container .box .content .price {
  font-size: 2rem;
  color: var(--pink);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay img {
  width: 90vh;
  /* max-height: 90vh; */
}

.close-btn, .prev-btn, .next-btn {
  position: absolute;
  background-color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
}

.close-btn {
  top: 10px;
  right: 10px;
}

.prev-btn {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next-btn {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}


.popular {
  padding-block: var(--section-padding);
  background-color: var(--bg-color1);
}

.popular-list,
.popular-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 430px;
  transition: .3s ease-in-out;
}
.popular-card:hover{
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
}

.popular-card .card-img {
  height: 100%;
}

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 20px;
}

.popular-card .card-rating {
  background: var(--blue);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--blue-ncs);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-card .card-title {
  margin-bottom: 5px;
  
}

.popular-card :is(.card-subtitle, .card-title) > a {
  color: var(--blue);
}

.popular-card .card-content h3.card-title a{
  font-family: var(--ff-museomoderno);
}

.popular-card .card-content .card-subtitle a{
    font-size: 1.2rem;

}

.popular .btn {
  margin-inline: auto;
}

.services {
  background: var(--bg-color1);
  /* top: 10rem; */
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box {
  text-align: justify;
  padding: 1rem;
  border: 0.2rem solid var(--white);
  border-radius: 0.5rem;
  background: var(--white);
}
.services .box-container .box:hover {
  background: #10221b;
}
.services .box-container .box:hover img {
  filter: invert(1);
}
.services .box-container .box:hover p {
  color: var(--white);
}
.services .box-container .box:hover .btn {
  border-color: var(--white);
  color: var(--white);
}
.services .box-container .box:hover .btn:hover {
  background: var(--white);
  color: #10221b;
}
.services .box-container .box img {
  /* height: 10rem; */
  margin: 1rem;
}
.services .box-container .box h3 {
  font-size: 1.8rem;
  color: var(--pink);
  text-align: center;
}
.services .box-container .box p {
  font-size: 1.2rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
  margin-bottom: 0;
}

.packages .box-container .box .content ul{
   padding: 0 3rem;
}

.reviews{
  background: var(--bg-color2);
}
.reviews .slide .text {
  padding: 2rem;
  font-size: 1.12rem;
  background: #eee;
  font-style: italic;
  border-radius: 5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}
.reviews .slide .text::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.reviews .slide .user h3 {
  font-family: var(--ff-museomoderno);
  font-size: 2rem;
  color: #10221b;
}
.reviews .slide .user span {
  color: var(--blue);
  font-size: 1.5rem;
}
.blogs{
  background: var(--bg-color2);
}
.blogs .slide:hover{
  transform: scale(1.05);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
}

.blogs .slide {
  text-align: center;
  padding: 2rem;
  
  margin-bottom: 30px;
  border-radius: 10%;
  translate: card 0.3s ease-in-out;
} 
.blogs p {
  font-size: 1.8rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 2rem;
}
.blogs .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.blogs .slide .icons {
  background: #10221b;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: block;
}
.blogs .slide .icons a {
  font-size: 2rem;
  color: var(--white);
  margin: 0 1rem;
}
.blogs .slide .icons a:hover {
  color: var(--pink);
}
.blogs .slide .icons a i {
  padding-right: 0.5rem;
  color: var(--pink);
}
.blogs .slide h3 {
  font-size: 2rem;
  color: #10221b;
  line-height: 1;
}
.blogs .slide p {
  font-size: 2rem;
  padding: 0;
  line-height: 3.5;
  color: var(--black);
  font-weight: 200;
}

/* Global Styles */
.tips{
  background-color: var(--bg-color1);
}
.card-tips-item {
    transition: transform 0.3s ease-in-out;
}

.card-tips-item:hover {
    transform: scale(1.02);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4) !important;
}

.title-2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
    margin: 10px 0;
}

.text-2 {
    font-size: 16px;
    color: #7f8c8d;
}

/* Image Styling */
.card-tips-item > div:first-child {
    height: 150px;
    width: 100px;
    border-radius: 8px;
}


.newletter {
  background-color: var(--bg-color1);
}
.newletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}
.newletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}
.newletter .content form {
  margin-top: 2rem;
  background: var(--white);
  border-radius: 5rem;
  border: 0.2rem solid var(--white);
  padding: 0.7rem;
  display: flex;
}
.newletter .content #loading {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.8);
      color: white;
      /* padding: 20px; */
      border-radius: 5px;
      /* opacity: 1; */
}
.newletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: black;
  padding: 0 1.5rem;
}
.newletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
  border: 1px solid var(--pink);
  background: transparent;
  color: var(--pink);
}

.newletter .content form .btn:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
      opacity: 0.6;
}
.newletter .content form .btn:hover {
  background: var(--pink);
  color: var(--white);
}

.clients .slide {
  text-align: center;
}
.clients .slide img {
  height: 12rem;
}

.footer {
  background: linear-gradient(rgba(238, 238, 238, 0.7), rgba(0, 0, 0, 0.5)), url(../images/pulaupadar.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 15rem;
}
.box-container .box h3 {
  font-size: 2rem;
  color: var(--white);
}
.box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 0;
}
.box-container .box a i {
  color: var(--blue);
  padding-right: 0.5rem;
}
.box-container .box a:hover {
  color: var(--white);
}
.box-container .box a:hover i {
  padding-right: 2rem;
}

.credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--white);
}
.credit span {
  color: var(--blue);
}

.artikel {
    /* max-width: 1200px; */
    /* margin: auto; */
    /* padding: 20px; */
    line-height: 1.6;
    color: #333;
    background-color: var(--bg-color1);
}
.breadcrumb {
    /* background-color: #f8f9fa; */
    padding: 10px 15px;
    /* border-radius: 5px; */
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 1110px) {
  html {
    font-size: 60%;
  }
  .header {
    padding: 2rem 0;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .header .navbar a {
    margin-left: 2rem;
  }
  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 2rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}
@media (max-width: 870px) {
  .header .navbar {
    justify-content: space-around;
  }
  .header .navbar a {
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }
  .popular-card{
      height: 350px;
    }
}
@media (max-width: 841px) {
  .header .logo h1 {
    position: relative;
    display: inline;
    font-size: 1.7rem;
  }
  .header .navbar {
    justify-content: space-around;
  }
  .header .navbar a {
    margin-left: 1rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
    margin-right: 1rem;
    font-size: 3.5rem;
    color: var(--blue);
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: var(--white);
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
  }
  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    /* font-size: 3rem; */
    color: var(--blue);
    font-size: 2rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: inline;
  }
}
@media (max-width: 450px) {
  .html {
    font-size: 50%;
  }
}/*# sourceMappingURL=styleotlb.css.map */

/* Tips*/
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .title-2 {
        font-size: 18px;
    }

    .text-2 {
        font-size: 14px;
    }

    .card-tips-item {
        flex-direction: column;
        text-align: center;
    }

    .card-tips-item > div:first-child {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }

    .card-tips-item > div:last-child {
        text-align: center;
    }
    
}